body {
  background-color: #eee;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header,
main,
aside,
footer {
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 0.4rem;
  color: #000;
  grid-area: 10px;
  padding: 2rem;
}
header {
  flex-basis: 100%;
}
main {
  flex: 8 1 40rem;
}
aside {
  flex: 2 1 20rem;
}
footer {
  width: 100%;
}
