
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 18px;

}
ul {
    list-style-type: none;
}
.check i{
    font-size: 25px;
    color: #2fcc71;
}
.star i {
    color: coral;
    font-size: 25px;
}
.contact i {
    color: #3498da;
    font-size: 25px;
}