/* TODO */
@media screen and (max-width: 600px) {
  #main-menu img,
  #main-menu {
    float: none;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  #main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #main-menu ul li {
    border: 1px solid red;
    width: 100px;
    text-align: center;
  }
  #main-menu img {
    margin: 0 auto;
  }
  #left-aside {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  #left-aside article {
    border: none;
  }
  #news {
    width: 100%;
  }
  #news article {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  #right-aside {
    width: 100%;
    margin: 0px;
  }
  footer {
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 0px;
  }
  footer ul {
    display: block;
    width:30%
  }
  .tm-description-box {
    display: block;
  }
}
