@media screen and (max-width: 600px) {
  body,
  main {
    width: 100%;
  }
  header,
  .navigation,
  header nav ul li,
  header img {
    display: block;
  }
  nav {
    text-align: center;
  }
  header img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  header {
    object-fit: cover;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  header li {
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .header-title h1 {
    font-size: 40px;
  }
  .header-title {
    padding-top: 0px;
  }

  .team-description ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team-description ul li img {
    width: 200px;
    height: 200px;
  }
  .choose-us ul {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .blog-news ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 50px;
  }

  .blog-news ul .item {
    margin-bottom: 50px;
  }
}
